<!DOCTYPE html>
<html class="
js
flexbox
flexboxlegacy
canvas
canvastext
webgl
no-touch
geolocation
postmessage
websqldatabase
indexeddb
hashchange
history
draganddrop
websockets
rgba
hsla
multiplebgs
backgroundsize
borderimage
borderradius
boxshadow
textshadow
opacity
cssanimations
csscolumns
cssgradients
cssreflections
csstransforms
csstransforms3d
csstransitions
fontface
generatedcontent
video
audio
localstorage
sessionstorage
webworkers
applicationcache
svg
inlinesvg
smil
svgclippaths"
      lang="ru"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=1270">
    <title>AniBeardo</title>
    <link href="styles/styles.css" media="screen" rel="stylesheet" type="text/css">
    <link href="styles/view.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body id="top-body" data-html-version="845039680435609820410" data-grid="7" data-ng-controller="BlocksController as blockCtrl" data-ng-init="moduleId = 2" data-lang="ru_RU" style="">
<div id="main-wrapper" style="height: 100%; margin-top: auto;">
    <div id="wrapper">
        <div id="container" class="wrapperBlock">
            <div class="bg" style=""></div>
            <div id="wrapper-window" style="display:none"></div>
            <div class="-text-center -relative">
                <div class="inline-block">
                    <section id="company-logo" class="block-1 widget-block">
                        <div id="site-logo">
                            <link rel="image_src"
                                  href="styles/Logo.png">
                            <a href="https://anifox.nethouse.ru/">
                                <img src="styles/Logo.png" alt="" style="max-width:215px;">
                            </a>
                        </div>
                    </section>
                </div>
            </div>
            <div class="-relative">
                <section id="slogan" data-widget-container="" data-widget-id="2" data-widget-type="2"
                         data-widget-url="/widget?route=mainPage&amp;on_main=1&amp;type=2&amp;widget_id=2"
                         data-block-id="2" class=" onmain widget on-view widget-block">
                    <div class="content-block" id="slogan-show">
                        <div class="text_slogan clearfix">
                            <p>
                                <span style="color: #000000; font-size: 30px;">
                                    AniBeardo
                                </span>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="-text-center -relative">
                <div class="inline-block">
                    <nav id="main-menu">
                        <div class="site-menu">
                            <div class="overlay"></div>
                            <ul>
                                <li id="lnk-1" data-sort="0" class="active disable-sort" data-loc="mainpage"
                                    data-label="Главная"><a href="https://anifox.nethouse.ru/"><span
                                        class="active-link">Главная</span></a></li>
                                <li id="lnk-2" data-sort="1" data-label="Новости"><a
                                        href="https://anifox.nethouse.ru/posts">Новости</a></li>
                                <li id="lnk-3" data-sort="2" data-label="Категории"><a
                                        href="https://anifox.nethouse.ru/services">Категории</a></li>
                                <li class="delim"></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <section id="promo" class="  overt bw1170 bf_type_4 onmain  widget on-view widget-block">
                <div class="content-block" id="promo-show" style="height: 500px;">
                    <div id="promo-carousel">
                        <div class="agile_carousel"
                             style="overflow: hidden; position: relative; width: 1170px; height: 500px;">
                            <div class="slides" style="width: 1170px; height: 500px;">
                                <div class="slide_1 slide"
                                     style="border: none; margin: 0; padding: 0; height: 500px; width: 1170px; position: absolute; top: 0; left: 0;">

                                    <div class="slide-inner"
                                         style="background:url(styles/banner.jpg) no-repeat center center;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script id="facebook-jssdk"
                            src="styles/sdk.js"></script>
                    <div class="bg-promo"></div>
                </div>
            </section>
            <div class="-relative site-content">
                <section data-blocks-list="" id="content" class="js-blocks-list" data-ng-controller="ContentController">
                    <div data-sorted-blocks="" class="js-sorted-blocks blocks-list" data-region="1" data-module="2">
                        <section data-widget-desc="" data-widget-container="" data-widget-id="6" data-widget-sort="1"
                                 data-widget-url="/widget?route=mainPage&amp;on_main=1&amp;type=3&amp;widget_id=6"
                                 data-region="1" data-widget-type="3"
                                 class="widget-sort widget-block block-6 widget__wrapper">
                            <section id="desc" data-widget-content=""
                                     class="onmain widget on-view widget-block -nt-widget widget-row">
                                <header class="infoPlate "><h1>О компании</h1></header>
                                <div class="content-block" id="desc-show" data-ng-show="$ctrl.showContent()">
                                    <div class="user-inner">
                                        <div class="mr-block">
                                            <div class=" mrb-row mrb-row-index-0">
                                                <div class="mrb-row__content mrb-inline-group_top">
                                                    <div class="mrb-col mrb-col-index-0 mrb-small-18">
                                                        <div class="-gd-content mrb-block-index-0">
                                                            <div class="user-inner"><p>Мы явлемся одним из самых богатых
                                                                аниме-хостингов в СНГ. Тут вы найдете аниме на любой
                                                                вкус - Этти, хентай, сэйнэн, меха, и многое другое.
                                                                Наши преимущества -&nbsp;</p>
                                                                <p>&nbsp; &nbsp; Удобный видеоплеер</p>
                                                                <p>&nbsp; &nbsp; Большое количество жанров</p>
                                                                <p>&nbsp; &nbsp; Удобный поиск нужного тайтла</p>
                                                                <p><br></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div data-ng-if="$ctrl.loaded" data-ui-view="desc-view"></div>
                        </section>
                        <section data-widget-services="" data-widget-container="" data-widget-id="8"
                                 data-widget-sort="1"
                                 data-widget-url="/widget?route=mainPage&amp;on_main=1&amp;type=4&amp;widget_id=8"
                                 data-region="1" data-widget-type="4"
                                 class="widget-sort widget-block block-8 widget__wrapper">
                            <section id="services" data-widget-content="" class="onmain  widget on-view widget-block">
                                <header class="infoPlate"><h3><a
                                        href="https://anifox.nethouse.ru/services">Категории</a></h3></header>
                                <div class="content-block widget-row" id="services-show"
                                     data-ng-show="$ctrl.showContent()">
                                    <div class="-text-center">
                                        <div class="inline-block -text-left" style="margin: 0 70px">
                                            <article class="-text-center">
                                                <div class="serviceBlock clearfix">
                                                    <ul>
                                                        <li>
                                                            <a href="https://anifox.nethouse.ru/services/spokon">Спокон</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://anifox.nethouse.ru/services/seinen">Сэйнэн</a>
                                                        </li>
                                                        <li><a href="https://anifox.nethouse.ru/services/etti">Меха</a>
                                                        </li>
                                                        <li><a href="https://anifox.nethouse.ru/services/mekha">Этти</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div data-ng-if="$ctrl.loaded" data-ui-view="services-view"></div>
                        </section>
                        <section data-widget-lead-form="" data-widget-container="" data-widget-id="10"
                                 data-widget-sort="1"
                                 data-widget-url="/widget?route=mainPage&amp;on_main=1&amp;type=41&amp;widget_id=10"
                                 data-region="1" data-widget-type="41"
                                 class="widget-sort widget-block block-10 widget__wrapper">
                            <section data-widget-content=""
                                     class="-nt-widget -widget-lead-form  widget widget-block dark lead-form"
                                     data-widget-type="41">
                                <div class="content-block widget-row" data-ng-show="$ctrl.showContent()">
                                    <div class="-text-center" data-ng-non-bindable="">
                                        <header>
                                            Заполните форму
                                        </header>
                                        <div class="description"><p>Если у вас есть предложения по поводу сайта,
                                            оставьте свои контакты и мы с вами свяжимся!</p></div>
                                        <form class="dynamic-form dynamic-form-3 -text-center" data-type="3"
                                              method="POST" action="https://anifox.nethouse.ru/mailer/sendmessage"
                                              novalidate="novalidate"><input type="hidden" name="formType" value="3"
                                                                             id="formType"><label
                                                for="lastname"></label><input type="text"
                                                                              name="lastname"
                                                                              value=""
                                                                              id="lastname">
                                            <div class="inline-block field ">
                                                <input type="text" name="fio" id="fio" maxlength="100"
                                                       class="dynamic-form-required dynamic-form-fio dynamic-form-text -col-12"
                                                       placeholder="Ваше имя">
                                            </div>
                                            <div class="inline-block field ">
                                                <input type="text" name="phone" id="phone" maxlength="100"
                                                       class="dynamic-form-required dynamic-form-phone dynamic-form-text -col-12"
                                                       placeholder="Контактный телефон">
                                            </div>
                                            <div class="inline-block field "><input type="text" name="email" id="email"
                                                                                    maxlength="100"
                                                                                    class="dynamic-form-required dynamic-form-email dynamic-form-text -col-12"
                                                                                    placeholder="E-mail"></div>
                                        </form>
                                        <a href="https://anifox.nethouse.ru/#lead-form-send">
                                            <button class="dynamic-form-button-3 lead-form-btn">Отправить заявку
                                            </button>
                                        </a></div>
                                </div>
                            </section>
                            <div data-ng-if="$ctrl.loaded" data-ui-view="lead-form-view"></div>
                        </section>
                        <section data-widget-posts="" data-widget-container="" data-widget-id="7" data-widget-sort="1"
                                 data-widget-url="/widget?route=mainPage&amp;on_main=1&amp;type=5&amp;widget_id=7"
                                 data-region="1" data-widget-type="5"
                                 class="widget-sort widget-block block-7 widget__wrapper">
                            <section id="posts" data-widget-content="" class="onmain widget on-view widget-block">
                                <header class="infoPlate "><h3><a href="https://anifox.nethouse.ru/posts">Новости</a>
                                </h3><a id="rss" href="https://anifox.nethouse.ru/posts/rss" title="Подписаться на RSS">
                                    <span>Подписаться на RSS</span></a>
                                </header>
                                <div class="content-block widget-row" id="posts-show"
                                     data-ng-show="$ctrl.showContent()">
                                    <div class="posts-slider slider-container" data-posts-slides="">
                                        <article>
                                            <time datetime="2018-06-25" class="infoPlate infoDigits"><span
                                                    class="day-month">25 / 06</span><span class="year">2018</span>
                                            </time>
                                            <div class="post-inner">
                                                <header><h4><a href="https://anifox.nethouse.ru/posts/3330397"
                                                               class="blue">
                                                    Второй сезон "Golden Kamuy"
                                                </a></h4></header>
                                                <div class="user-inner"><p>
                                                    <span>Анонсирован второй сезон сериала "</span><a
                                                        href="http://www.animag.ru/review/golden-kamuy-2018">Golden
                                                    Kamuy</a><span>" (в чем никто и не сомневался!).</span><br><span>Продолжение выйдет уже этой осенью.</span>
                                                </p></div>
                                            </div>
                                        </article>
                                        <article>
                                            <time datetime="2018-06-25" class="infoPlate infoDigits"><span
                                                    class="day-month">25 / 06</span><span class="year">2018</span>
                                            </time>
                                            <div class="post-inner">
                                                <header><h4><a href="https://anifox.nethouse.ru/posts/3329794"
                                                               class="blue">
                                                    Продолжение "Uchuu Senkan Tiramisu" выйдет в октябре
                                                </a></h4></header>
                                                <div class="user-inner"><p>Анонсирован второй сезон короткометражного
                                                    сериала "<a
                                                            href="http://www.animag.ru/review/uchuu-senkan-tiramisu-2018">Uchuu
                                                        Senkan Tiramisu</a>".<br></p></div>
                                            </div>
                                        </article>
                                        <article>
                                            <time datetime="2018-06-21" class="infoPlate infoDigits"><span
                                                    class="day-month">21 / 06</span><span class="year">2018</span>
                                            </time>
                                            <div class="post-inner">
                                                <header><h4><a href="https://anifox.nethouse.ru/posts/3330400"
                                                               class="blue">
                                                    Пятый сезон "JoJo's Bizarre Adventure" этой осенью
                                                </a></h4></header>
                                                <div class="user-inner"><p><span>Студия david production вняла мольбам фанатов и анонсировала пятый сезон "</span><a
                                                        href="http://www.animag.ru/review/jojo-no-kimyou-na-bouken-2012">JoJo's
                                                    Bizarre Adventure</a><span>". Премьера этой осенью.&nbsp;</span></p>
                                                </div>
                                            </div>
                                        </article>
                                        <article>
                                            <time datetime="2018-06-15" class="infoPlate infoDigits"><span
                                                    class="day-month">15 / 06</span><span class="year">2018</span>
                                            </time>
                                            <div class="post-inner">
                                                <header><h4><a href="https://anifox.nethouse.ru/posts/3330418"
                                                               class="blue">
                                                    Трейлер и постер "Asobi Asobase"
                                                </a></h4></header>
                                                <div class="user-inner"><p>Вышел новый трейлер слайс-комедии ""Asobi
                                                    Asobase". Также представлен постер.</p>
                                                    <p>Сериал стартует 8 июля.</p>
                                                    <p><br></p></div>
                                            </div>
                                        </article>
                                        <article>
                                            <time datetime="2017-11-01" class="infoPlate infoDigits"><span
                                                    class="day-month">01 / 11</span><span class="year">2017</span>
                                            </time>
                                            <div class="post-inner">
                                                <header><h4><a href="https://anifox.nethouse.ru/posts/3329791"
                                                               class="blue">
                                                    Ваша первая новость.
                                                </a></h4></header>
                                                <div class="user-inner">
                                                    В этом разделе размещайте новости Вашей компании. Вашим
                                                    потенциальным клиентам может быть интересна жизнь компании и методы
                                                    ее развития. Удовлетворив их интерес, Вы повысите их лояльность.
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="pagination-slider" data-posts-paginate="">
                                        <div class="controls">
                                            <div class="prev non-selectable">
                                                <div class="-icon-font-arrow-left"></div>
                                            </div>
                                            <div class="next non-selectable">
                                                <div class="-icon-font-arrow-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div data-ng-if="$ctrl.loaded" data-ui-view="posts-view"></div>
                        </section>
                    </div>
                    <div data-deleted-blocks="" class="js-deleted-blocks blocks-list"></div>
                </section>
            </div>
        </div>
        <div class="footer-container">
            <footer id="footer">
                <section id="additional-info" class="clearfix">
                    <div id="footer-text" class="footer-color client"><span id="footertext1">
                2018 © AniBeardo
            </span><br><span id="footertext2">Лучший аниме-хост в СНГ</span></div>
                </section>
                <div class="-text-center -col-12 inline-block">
                    <div class="-col-4 inline-block"></div>
                </div>
                <div id="temp-block"></div>
            </footer>
        </div>
    </div>
    <div id="for-explain"></div>
</div>
<script src="styles/translate.js"></script>
<script type="text/javascript" src="styles/vendor.min.js"></script>
<script type="text/javascript" src="styles/scripts.js"></script>
<input type="hidden" class="-currentFont" value="Open Sans">
<div id="vk_api_transport">
    <script type="text/javascript" src="styles/openapi.js" async=""></script>
</div>
<div id="fb-root" class=" fb_reset">
    <div style="position: absolute; top: -10000px; height: 0; width: 0;">
        <div></div>
    </div>
</div>
</body>
</html>